/* Start Slider */

.slider {
    
    blockquote {
        font: { // معمول هنا nesting 
            size: 20px;
            style:italic;
            weight: bold;
            family: Tahoma;
            
        }
        
        line-height: 1.7;
        text-align: center;
        color: #5e5e5e;
        width: 80%;
        margin: 30px auto;
        
    }
    
    img {
        
        
         max-width: 100%;
         //margin-left: 20%;
        
        @media #{$maxMobile} {
            margin-left: 0 !important;
            
        }
        
         @media #{$minSmall} {
            margin-left: 30px;
        }
        
        
        @media #{$minMedium} {
            margin-left: 120px;
        }
        
        
    }
    
    .bullets {
        text-align: center;
        
        li {
            
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $greyColor;
            border-radius: 50%;
            border: 3px solid $greyColor;
            cursor: pointer;
            
            &.active,
            &:hover
            {
                background-color: #FFF;
                border: 2px solid #333;
            }
        }
    }
}



/* End Slider*/


/* Start Services*/

.services {
    .service-box {
        
        
       
        
        @media #{$minMedium} {
          float: $float-left;
          width: calc(100%/3);
            
            
             
                &:not(last-of-type){  // العنصرين اللى قبل الاخير معمول ليهم  padding والاخير غير معمول ليه 
                    padding-right: 20px;
                }
        
            
        }
        
        
        @media #{$maxMobile} {
            
            width: 100%;
            float: none;
            
            i {
                
                display: block; // علشان يكون لوحده فى سطر
                margin-bottom: 15px;
            
            }
        }
        
        .service-title {
            
            color: #666;
            
             i {
               font-size: 35px;
               position: relative;
               top: 4px;
               
            
              }
            
            
           }
        
       
        
        .service-dec {
            
            color: #777;
            line-height: 1.5;
            
        }
        
        .link {
            color: $redColor;
            text-decoration: none;
            
        }
    }
}



/* End Services*/




/* Start Players*/

.players {
    .player-box {
        
        display: inline-block;
        
       @media #{$minSmall}  {
            
           float: $float-left;
            width: (100% / 2);
            text-align: center;
            margin-bottom: 40px;
          }
       
        
         @media #{$minMedium}  {
          
            width: (100% / 4);
            text-align: $text-left;
             padding-left: 20px;
             padding-right: 20px;
           }
        
        
         @media #{$minLarge}  {
             margin: 10px;
          
            width: (100% / 5);
            
           
           }
        
        @media #{$maxMobile} {
            margin-bottom: 40px;
            width: 100%;
        }
         
        
        
       
        }
        
        .player-title {
            
            color: #666;
            font-weight: normal;
            
             span {
              font-weight: bold;
               
            
              }
            
            
           }
        
       
        
        .player-dec {
            
            color: #777;
            line-height: 1.5;
            
        }
        
        .link {
            color: $redColor;
            text-decoration: none;
            
        }
    }




/* End Players*/


/* Start Lorem Ipsum*/


.lorem-ipsum
    .lorem-box {
        
       /* margin-left: 10px;
        margin-right: 10px;*/
        
        
       
       
        
        
        
        .lorem-img {
           width: 300px;
           height: 300px;
           margin: 10px;
           float: $float-left;
             
            @media #{$minSmall}  {
            
           float: $float-left;
            width: (100% / 3);
            text-align: center;
            margin-bottom: 40px;
            margin-left: 70px;
          }
       
        
         @media #{$minMedium}  {
          
            width: (100% / 4);
            text-align: $text-left;
             padding-left: 20px;
             padding-right: 20px;
             margin-left: 60px;
           }
        
        
        @media #{$maxMobile} {
            margin-bottom: 40px;
            width: 80%;
            margin-left: 70px !important;
            
        }
         
        
            
           
        }
    }


/* End Lorem Ipsum*/